@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

@import '@/scss/variables.scss';

#app {
  @include col;
  max-width: 1250px;
}

body {
  @include col;
  font-family: 'Inter', sans-serif;
}

.row {
  @include row;
  margin: 0.3em 0;
}

.col {
  @include col;
}

input,
select {
  accent-color: $light;
  appearance: none;
  background-color: white;
  border: 3px solid $light;
  border-radius: 1em;
  color: $light;
  padding: 0.8em 0.8em;
  margin: 0.25em 0;
}

input::selection,
select::selection {
  border: 3px solid black;
}

input[type='checkbox'] {
  appearance: auto;
  margin: 0.3em 0.3em;
  width: 1.5em;
  height: 1.5em;
}

.nav-link {
  color: $light;
  font-weight: bold;
  text-decoration: none;
  margin: 0.5em 0;
}
